name: Run CI checks # The name will show up on the GitHub Actions dashboard

on: [pull_request] # This workflow will run only on Pull Requests

jobs:
  lint: # give our job an ID
    runs-on: ubuntu-latest # the image our job will run on
    name: Lint Affected # the name that will appear on the Actions UI
    steps: # what steps it will perform
      - uses: actions/checkout@v1 # checkout whatever branch the PR is using
      - uses: bahmutov/npm-install@v1 # trigger an `npm install`
      - run: npm run nx affected --target=lint # test the "store" project
  test: # give our job an ID
      runs-on: ubuntu-latest # the image our job will run on
      name: Test Affected # the name that will appear on the Actions UI
      steps: # what steps it will perform
        - uses: actions/checkout@v1 # checkout whatever branch the PR is using
        - uses: bahmutov/npm-install@v1 # trigger an `npm install`
        - run: npm run nx affected --target=test # test the "store" project
  e2e: # give our job an ID
      runs-on: ubuntu-latest # the image our job will run on
      name: E2E Affected # the name that will appear on the Actions UI
      steps: # what steps it will perform
        - uses: actions/checkout@v1 # checkout whatever branch the PR is using
        - uses: bahmutov/npm-install@v1 # trigger an `npm install`
        - run: npm run nx affected --target=2e2 # test the "store" project
